.geography-position{
	height: auto;
    width:  auto;
    margin: 50px calc(~'(100% - 400px)' / 2);
    
    *{
        display: block;
    }
}

.countries-list{
	margin: 5px;
	background-color: #680ea0;
	color: white;
	font-size: 20px;
	text-align:center;
	padding: 10px;
	border-radius: 10px;
}